.add-item-grid {
	grid-column-start: 2;
	grid-row-start: 6;
	
	display: grid;
	grid-template-columns: 40px 1fr 30%;
	grid-column-start: 2;
	column-gap: 5px;
}

.add-item-grid .form-control {
	grid-column-start: 2;
}